# Ignora ambiente virtuale (MOLTO IMPORTANTE)
venv/
.venv/

# Ignora file di configurazione IDE
.idea/

# Ignora file compilati Python
__pycache__/
*.pyc

# Ignora cartelle di Input (Video pesanti)
videos/

# Ignora cartelle di Output (Risultati)
output_videos/
runs/

# Ignora file di sistema Mac
.DS_Store